<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="description" content="Find Your Favorite Restaurant in D2Y RESTO" />
		<meta name="keywords" content="HTML, CSS, JAVASCRIPT" />
		<meta name="theme-color" content="#cca000" />

		<link rel="apple-touch-icon" href="/icons/icon-192x192.png" />
		<link rel="icon" href="favicon.ico" />
		<link rel="manifest" href="app.webmanifest" />
		<link rel="preload" as="image" href="/images/heros/hero-large.jpg" />
		<title>D2Y RESTO</title>
	</head>
	<body>
		<a href="#mainContent" class="skip-link">Menuju ke konten</a>
		<header class="app-bar">
			<div class="app-bar__brand">
				<h1><a href="/">D2Y RESTO</a></h1>
			</div>
			<div class="app-bar__menu">
				<button id="hamburgerButton" aria-label="Drawer Navigation">☰</button>
			</div>
			<nav id="navigationDrawer" class="app-bar__navigation">
				<ul>
					<li><a href="#/home">Home</a></li>
					<li><a href="#/favorite">Favorite</a></li>
					<li>
						<a href="https://www.linkedin.com/in/adi-munawar-2359601b2/" target="_blank" rel="noreferrer">About Us</a>
					</li>
				</ul>
			</nav>
		</header>
		<main id="mainContent" tabindex="0"></main>
		<footer>
			<span>Copyright © 2022, All Right Reserved | D2Y RESTO</span>
		</footer>
	</body>
</html>
