footer {
	padding: 30px;
	margin-top: 55px;
	background-color: #202020;
	display: flex;
	justify-content: space-between;
}

footer span,
footer a {
	color: #878787;
}

footer a:hover {
	color: #cca000;
}

.copyright-menu ul {
	text-align: right;
	margin: 0;
}

.copyright-menu li {
	display: inline-block;
	padding-left: 20px;
}
